## Домашка

__Датка:__ `ieee-fraud-detection`
__Метрика качества:__ `ROC-AUC`

__Задание 1:__ загрузить датасет, посчитать количество пропусков в признаках, выбрать только те признаки, которые не имеют пропущенные значение. Сколько таких признаков?

In [1]:
# !pip install scikit-learn==0.21.3

__Задание 2__: разбить данные на обучающую и тестовую часть в соотношении 70 / 30, обучить модель линейной регрессии с предварительным масштабированием признаков с помощью `StandartScaler`, оценить качество на тестовой части с помощью метрики `ROC-AUC`. Для построения модели не использовать признаки `'TransactionAmt', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1'`. При разбиении данных зафиксировать `random_state = 1`. 

__Ответ округлить__ с точностью до 3-го знака.

__Задание 3__: разбить данные на обучении / валидацию / тест в соотношении 50% / 25% / 25%, от размера исходного датасета. Зафиксировать `random_state = 1` для обоих разбиений. Оценить разницу в метрике качества на валидационной и на тестовой части. 

__Ответ округлить__ с точностью до 4-го знака.

__Задание 4:__ выполнить `KFold` кросс-валидацию на 5-блоков, с перемешиванием данных, зафиксировать `random_state = 27`. Оценить среднее значение метрики качества. 

__Ответ округлить__ с точностью до 4-го знака.

__Задание 5:__ для задания 4 оценить стандартное отклонение метрики качества по фолдам.

__Ответ округлить__ с точностью до 3-го знака.

In [4]:
import warnings
import numpy as np
import pandas as pd

from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline
warnings.simplefilter("ignore")
%matplotlib inline

In [5]:
%%time
data_hw = pd.read_csv('./ieee-fraud-detection/data.csv')
data_hw.shape

CPU times: user 1.64 s, sys: 336 ms, total: 1.97 s
Wall time: 2.13 s

(100000, 394)

In [6]:
data_hw.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
0,2987000,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2987001,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data_hw.isna().sum()

TransactionID         0
isFraud               0
TransactionDT         0
TransactionAmt        0
ProductCD             0
                  ...
V335              68229
V336              68229
V337              68229
V338              68229
V339              68229
Length: 394, dtype: int64

Task 1

In [5]:
# %%time

# features = []

# for i in range(len(data_hw.isna().sum())):
#     if data_hw.isna().sum()[i] == 0:
#         features.append(data_hw.isna().keys()[i])

In [6]:
# print(features)

In [7]:
# print(f'task 1: {len(features)}')

answer task 1: 75

task 2

In [7]:
columns = ['isFraud', 'TransactionAmt', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1']
data_2 = data_hw[columns]
data_2.head(n=2)

,isFraud,TransactionAmt,card1,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,D1
0,0,68.5,13926,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,14.0
1,0,29.0,2755,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [8]:
data_2.dtypes

isFraud             int64
TransactionAmt    float64
card1               int64
C1                float64
C2                float64
C3                float64
C4                float64
C5                float64
C6                float64
C7                float64
C8                float64
C9                float64
C10               float64
C11               float64
C12               float64
C13               float64
C14               float64
D1                float64
dtype: object

In [9]:
x_train, x_test = train_test_split(
    data_2.drop(columns=['isFraud'], axis=1), train_size=0.7, shuffle=True, random_state=1,
)

y_train, y_test = train_test_split(
    data_2['isFraud'], train_size=0.7, shuffle=True, random_state=1,
)

print('X_train.shape {}, X_test.shape {}'.format(x_train.shape, x_test.shape))

X_train.shape (70000, 17), X_test.shape (30000, 17)

In [10]:
%%time
pipeline = Pipeline(
    steps=[
        ("scaling", StandardScaler()),
        ("model", LogisticRegression(random_state=1))
    ]
)

CPU times: user 212 µs, sys: 18 µs, total: 230 µs
Wall time: 236 µs

In [11]:
%%time
pipeline.fit(x_train, y_train)

CPU times: user 2.74 s, sys: 481 ms, total: 3.22 s
Wall time: 830 ms

Pipeline(steps=[('scaling', StandardScaler()),
                ('model', LogisticRegression(random_state=1))])

In [12]:
train_score = roc_auc_score(y_train, pipeline.predict_proba(x_train)[:,1])
test_score = roc_auc_score(y_test, pipeline.predict_proba(x_test)[:,1])

In [13]:
print(f'Train: {round(train_score,2)}, test: {round(test_score,2)}')

Train: 0.71, test: 0.71

task 2 answer: 0.71

task 3

In [14]:
data_hw.isna().sum()

TransactionID         0
isFraud               0
TransactionDT         0
TransactionAmt        0
ProductCD             0
                  ...
V335              68229
V336              68229
V337              68229
V338              68229
V339              68229
Length: 394, dtype: int64

In [15]:
no_nan_list = []
for i in range(len(data_hw.isna().sum())):
               if data_hw.isna().sum()[i] == 0:
                   no_nan_list.append(data_hw.columns[i])
                
print(len(no_nan_list))

75

In [16]:
print(no_nan_list)

['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V281', 'V282', 'V283', 'V288', 'V289', 'V296', 'V300', 'V301', 'V313', 'V314', 'V315']

In [17]:
columns = no_nan_list

In [7]:
columns = ['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'D1', 'V95', 'V96', 'V97', 'V98', 'V99', 'V100', 'V101', 'V102', 'V103', 'V104', 'V105', 'V106', 'V107', 'V108', 'V109', 'V110', 'V111', 'V112', 'V113', 'V114', 'V115', 'V116', 'V117', 'V118', 'V119', 'V120', 'V121', 'V122', 'V123', 'V124', 'V125', 'V126', 'V127', 'V128', 'V129', 'V130', 'V131', 'V132', 'V133', 'V134', 'V135', 'V136', 'V137', 'V281', 'V282', 'V283', 'V288', 'V289', 'V296', 'V300', 'V301', 'V313', 'V314', 'V315']

In [8]:
data_hw = data_hw[columns]

In [9]:
data_hw = data_hw.drop(columns=['ProductCD'], axis=1)

In [10]:
data_hw.head(n=2)

,TransactionID,isFraud,TransactionDT,TransactionAmt,card1,C1,C2,C3,C4,C5,...,V282,V283,V288,V289,V296,V300,V301,V313,V314,V315
0,2987000,0,86400,68.5,13926,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2987001,0,86401,29.0,2755,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
x_train, x_valid = train_test_split(
    data_hw.drop(['TransactionID', 'isFraud'], axis=1), train_size = 0.5, shuffle = True, random_state=1
)

y_train, y_valid = train_test_split(
    data_hw['isFraud'],train_size = 0.5, shuffle = True, random_state=1
)

x_valid, x_test = train_test_split(x_valid, train_size = 0.5, shuffle = True, random_state=27)

y_valid, y_test = train_test_split(y_valid, train_size = 0.5, shuffle = True, random_state=27)

print('X_train: row = {}, columns = {}'.format(*x_train.shape))
print('X_valid: row = {}, columns = {}'.format(*x_valid.shape))
print('X_test: row = {}, columns = {}'.format(*x_test.shape))

X_train: row = 50000, columns = 72
X_valid: row = 25000, columns = 72
X_test: row = 25000, columns = 72

In [12]:
%%time
pipeline = Pipeline(
    steps=[
        ("scaling", StandardScaler()),
        ("model", LogisticRegression(random_state=1))
    ]
)

CPU times: user 35 µs, sys: 8 µs, total: 43 µs
Wall time: 46.7 µs

In [13]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('scaling', StandardScaler()),
                ('model', LogisticRegression(random_state=1))])

In [14]:
x_train.head(n=2)

,TransactionDT,TransactionAmt,card1,C1,C2,C3,C4,C5,C6,C7,...,V282,V283,V288,V289,V296,V300,V301,V313,V314,V315
66058,1479050,26.585,3154,1.0,1.0,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96947,1973913,117.000,17111,2.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
train_score = roc_auc_score(y_train, pipeline.predict_proba(x_train)[:,1])
valid_score = roc_auc_score(y_valid, pipeline.predict_proba(x_valid)[:,1])
test_score = roc_auc_score(y_test, pipeline.predict_proba(x_test)[:,1])

In [16]:
print(f'train_score: {train_score}, valid_score: {valid_score}, test_score: {test_score}')

train_score: 0.7431438654582112, valid_score: 0.734218319429181, test_score: 0.7429884116914383

In [17]:
round(valid_score - test_score, 4)

-0.0088

task 3 answer: 0.0111

task 4

In [28]:
%%time
pipeline = Pipeline(
    steps=[
        ("scaling", StandardScaler()),
        ("model", LogisticRegression(random_state=1))
    ]
)

CPU times: user 225 µs, sys: 82 µs, total: 307 µs
Wall time: 316 µs

In [29]:
kfold = KFold(n_splits= 5, shuffle=True, random_state=27)

cv = cross_val_score(
        estimator=pipeline,
        X=data_hw.drop(columns=['TransactionID', 'isFraud'], axis=1),
        y=data_hw['isFraud'],
        scoring='roc_auc',
        cv = kfold
)

print(f'cv mean: {round(cv.mean(),4)}, std +/- {round(np.std(cv),3)}')

cv mean: 0.7328, std +/- 0.01

task 4 answer: 0.6936

task 5 answer: 0.022